# Dependencies
node_modules/
/.pnp
.pnp.js

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env*.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# IDE
.vscode/
.idea/

# OS
Thumbs.db

# Large data files
ml/data/cab-weather/*.txt
ml/data/cab-weather/*.csv
*.joblib

# Python
__pycache__/
*.py[cod]
*$py.class
.env
.vh/
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/